body {
    margin: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.BG{
    width: 40px;
    height:40px;
    display: none;
}
.label {
    font-size:xx-large;
    padding: 10px;
}
.Canvas {
    text-align: center;
}
